body {
  background: green;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", sans-serif;
  text-align: justify;
}

.header-coopesur {
  width: 100%;
}
.header-coopesur .contenedor-iconos-inicio {
  background-color: #c8a27e;
  height: 27px;
  display: flex;
  justify-content: end;
  width: 100% !important;
}
.header-coopesur .contenedor-iconos-inicio .caja-iconos-correos {
  margin-right: 0%;
  display: flex;
  height: 27px;
}
.header-coopesur .contenedor-iconos-inicio .caja-iconos-correos a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  color: #000;
  height: 27px;
  padding: 0px 5px;
  margin: 2px;
  text-align: end;
}
.header-coopesur .contenedor-iconos-inicio .caja-iconos-correos p {
  font-size: 14px;
  color: #000;
  height: 27px;
  margin: 2px;
  padding: 0px 5px;
}
.header-coopesur .contenedor-iconos-inicio .caja-iconos-redes {
  margin-right: 5%;
}
.header-coopesur .contenedor-iconos-inicio .caja-iconos-redes ul {
  height: 27px;
  margin: 2px;
  padding: 0px 5px;
  padding: 2px 30px;
}
.header-coopesur .contenedor-iconos-inicio .caja-iconos-redes ul li {
  display: inline-block;
  list-style-type: none;
}
.header-coopesur .contenedor-iconos-inicio .caja-iconos-redes ul li a > i {
  color: #000;
  font-size: 14px;
}
.header-coopesur .coopesur-contenedor__1-menu {
  width: 100%;
  height: 250px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/img-principal-ib.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
.header-coopesur .coopesur-contenedor__1-menu .coopesur-menu {
  display: flex;
  justify-content: center;
}
.header-coopesur .coopesur-contenedor__1-menu .coopesur-menu .caja-contenedor__menu {
  border-bottom: 4px solid #d2d3d5;
  border-width: 2px;
  margin-top: 10px;
  height: 95px;
  width: 84%;
  display: flex;
}
.header-coopesur .coopesur-contenedor__1-menu .coopesur-menu .caja-contenedor__menu img {
  position: relative;
  top: 18%;
  width: 160px;
  height: 80px;
}
.header-coopesur .coopesur-contenedor__1-menu .coopesur-menu .caja-contenedor__menu .caja-menu-lista {
  display: flex;
  align-items: end;
  justify-content: space-evenly;
  position: relative;
  right: 5%;
}
.header-coopesur .coopesur-contenedor__1-menu .coopesur-menu .caja-contenedor__menu .caja-menu-lista ul {
  list-style-type: none;
  padding: 5px 0px;
  margin: 16px 6px;
}
.header-coopesur .coopesur-contenedor__1-menu .coopesur-menu .caja-contenedor__menu .caja-menu-lista ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}
.header-coopesur .coopesur-contenedor__1-menu .coopesur-menu-responsivo {
  display: none;
}

.inicio-coopesur1 {
  width: 100%;
  background-color: #d2d3d5;
  height: 50px;
}
.inicio-coopesur1 .inicio-coopesur__caja1 {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}
.inicio-coopesur1 .inicio-coopesur__caja1 .separador-linea1 {
  border-left: 2px solid #000;
  width: 20px;
  height: 20px;
  margin-left: 2%;
}
.inicio-coopesur1 .inicio-coopesur__caja1 .inicio-1 {
  margin-left: 7%;
  text-decoration: none;
  color: #808080;
}
.inicio-coopesur1 .inicio-coopesur__caja1 .inicio-2 {
  margin-left: 1%;
  text-decoration: none;
  color: #808080;
}

.inicio-coopesur2 {
  background-color: rgb(150, 25, 40);
  height: 350px;
  display: flex;
  align-items: center;
}
.inicio-coopesur2 .caja-img-inicio {
  position: relative;
  top: 22%;
  left: 8%;
  width: 56%;
  height: 200px;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em -1em rgba(0, 0, 0, 0.8);
}
.inicio-coopesur2 .caja-img-inicio img {
  position: relative;
  transform: translate(0, -23%);
  left: 6%;
  width: 88%;
  height: 350px;
  z-index: 3;
}

.caja-contenedora-articulos__1 {
  width: 100%;
  height: 1200px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.caja-contenedora-articulos__1 .articulo-principal {
  width: 83.5%;
  height: 100%;
  display: flex;
  background: #fff;
  justify-content: space-between;
}
.caja-contenedora-articulos__1 .articulo-principal .articulo-principal-pt1 {
  display: flex;
  width: 66.5%;
  background-color: #fff;
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.8);
}
.caja-contenedora-articulos__1 .articulo-principal .articulo-principal-pt1 .raya-articulo-pt1 {
  width: 10%;
  height: 4px;
  background-color: #962328;
  border-top: 2px solid rgb(150, 25, 40);
  position: relative;
  bottom: -15%;
}
.caja-contenedora-articulos__1 .articulo-principal .articulo-principal-pt1 .caja-articulo-pt1 {
  width: 80%;
  position: relative;
  bottom: -9%;
  margin: 20px;
  padding: 10px;
  height: 1000px;
  background-color: #fff;
}
.caja-contenedora-articulos__1 .articulo-principal .articulo-principal-pt1 .caja-articulo-pt1 h2 {
  font-size: 30px;
}
.caja-contenedora-articulos__1 .articulo-principal .articulo-principal-pt1 .caja-articulo-pt1 p {
  font-weight: 300;
  padding: 5px;
  font-size: 16px;
}
.caja-contenedora-articulos__1 .articulo-principal .articulo-principal-pt1 .caja-articulo-pt1 .hr-articulo-pt1 {
  width: 110%;
  position: relative;
  right: 8%;
  margin-top: 20%;
  border: 1px solid #ababab;
}
.caja-contenedora-articulos__1 .articulo-principal .articulo-principal-pt1 .caja-articulo-pt1 .fondo-articulo-pt1 {
  display: flex;
  height: 13%;
  align-items: center;
  background: #fff;
}
.caja-contenedora-articulos__1 .articulo-principal .articulo-principal-pt1 .caja-articulo-pt1 .fondo-articulo-pt1 .fondo-caja-etiquetaspt1 {
  height: 80%;
  width: 100%;
}
.caja-contenedora-articulos__1 .articulo-principal .articulo-principal-pt1 .caja-articulo-pt1 .fondo-articulo-pt1 .fondo-caja-etiquetaspt1 a:hover {
  background-color: #ababab;
  color: #fff;
}
.caja-contenedora-articulos__1 .articulo-principal .articulo-principal-pt1 .caja-articulo-pt1 .fondo-articulo-pt1 .fondo-caja-etiquetaspt1 a {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  color: #ababab;
  padding: 5px;
  margin: 4px 10px;
  border: 1px solid #ababab;
  border-radius: 10px;
}
.caja-contenedora-articulos__1 .articulo-principal .articulo-principal-pt1 .caja-articulo-pt1 .fondo-articulo-pt1 img {
  width: 30px;
  padding: 3px;
}
.caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal {
  width: 27%;
  position: relative;
  bottom: -3%;
  left: 5%;
  background-color: rgba(240, 240, 240, 0.8);
  margin: 16px;
  padding: 8px 0px;
  height: 93.5%;
}
.caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal .aside-pt1 {
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal .aside-pt1 h4 {
  font-size: 16px;
  margin: 16px 5px;
}
.caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal .aside-pt1 ul {
  list-style-type: none;
  padding: 3px 10px;
  margin: 0px;
  height: 50px;
}
.caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal .aside-pt1 ul li {
  display: inline;
}
.caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal .aside-pt1 ul li a {
  font-size: 25px;
  color: rgb(150, 25, 40);
  text-decoration: none;
  padding: 2px 5px;
}
.caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal .hr-aside {
  width: 80%;
  border: 0.5px solid rgb(150, 25, 40) !important;
}
.caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal .h4-aside {
  font-size: 18px;
  text-align: center;
}
.caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal .aside-pt2 h4 {
  font-size: 16px;
  margin: 15px 5px;
}
.caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal .aside-pt2 .caja-etiquetas-aside {
  width: 80%;
  padding: 15px;
  height: 110px;
  position: relative;
  top: -20px;
  left: 20px;
}
.caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal .aside-pt2 .caja-etiquetas-aside a:hover {
  background-color: rgb(150, 25, 40);
  color: #fff;
}
.caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal .aside-pt2 .caja-etiquetas-aside a {
  float: left;
  padding: 4px;
  margin: 3px;
  text-decoration: none;
  color: rgb(150, 25, 40);
  font-size: 14px;
  font-weight: 500;
  border: 2px solid rgb(150, 25, 40);
  border-radius: 23px;
}
.caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal .hr-aside:nth-child(4) {
  position: relative;
  top: -2.5%;
}
.caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal .aside-pt3 {
  background-color: rgb(150, 25, 40);
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal .aside-pt3 p {
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}
.caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal .aside-pt4 {
  width: 100%;
  text-align: center;
}
.caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal .aside-pt4 img {
  width: 160px;
  margin: 28px 4px 18px 4px;
}
.caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal .aside-pt4 h4 {
  margin: 2px 2px;
}
.caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal .aside-pt4 .hr-aside2 {
  width: 20%;
  position: relative;
  right: 20%;
  border-color: #962328;
}
.caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal .aside-pt5 {
  width: 100%;
  text-align: center;
  font-size: 14px;
}
.caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal .aside-pt5 .hr-aside2 {
  width: 20%;
  position: relative;
  right: 20%;
  border-color: rgb(150, 25, 40);
}
.caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal .aside-pt5 .hr-aside-5 {
  width: 80%;
  border-color: rgb(150, 25, 40);
}
.caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal .aside-pt5 i {
  padding: 6px;
}
.caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal .aside-pt5 p {
  padding: 3px 5px;
}

.seccion-media {
  display: flex;
  width: 100%;
  height: 220px;
  background-color: #fff;
}
.seccion-media .media-1 {
  display: flex;
  width: 15%;
  position: relative;
  top: 60%;
  align-items: start;
}
.seccion-media .media-1 hr {
  width: 100%;
  border-color: #962328;
  border: 3px solid #962328;
}
.seccion-media .media-2 {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.seccion-media .media-2 h2 {
  font-size: 40px;
  margin: 40px 2px 4px 2px;
  position: relative;
  top: 15%;
  transform: scaleX(1);
  opacity: 0.3;
  letter-spacing: 6px;
}
.seccion-media .media-2 p {
  font-size: 25px;
  position: relative;
  bottom: 17%;
  left: 5%;
  letter-spacing: 3px;
  font-weight: 500;
}

.caja-contenedora-articulos__2 {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 1230px;
}
.caja-contenedora-articulos__2 .articulo-secundario-1 {
  padding: 10px 6px;
  margin: 15px 6px;
  display: flex;
  text-align: center;
  position: relative;
  left: 7.5%;
  width: 55%;
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.8);
}
.caja-contenedora-articulos__2 .articulo-secundario-1 img {
  width: 250px;
  padding: 26px 16px;
}
.caja-contenedora-articulos__2 .articulo-secundario-1 .caja-secundaria-1 {
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.caja-contenedora-articulos__2 .articulo-secundario-2 {
  padding: 10px 6px;
  margin: 15px 6px;
  display: flex;
  text-align: center;
  position: relative;
  left: 7.5%;
  width: 55%;
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgb(0, 0, 8);
}
.caja-contenedora-articulos__2 .articulo-secundario-2 img {
  width: 250px;
  padding: 26px 16px;
}
.caja-contenedora-articulos__2 .articulo-secundario-2 .caja-secundaria-2 {
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.caja-contenedora-articulos__2 .articulo-secundario-3 {
  padding: 10px 6px;
  margin: 15px 6px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  position: relative;
  width: 55%;
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.8);
  left: 7.5%;
}
.caja-contenedora-articulos__2 .articulo-secundario-3 p {
  margin: 5px 15px;
  opacity: 0.7;
  position: relative;
  bottom: 10%;
}
.caja-contenedora-articulos__2 .articulo-secundario-3 h4 {
  margin: 10px 20px;
  position: relative;
  bottom: 10%;
}
.caja-contenedora-articulos__2 .abrir4,
.caja-contenedora-articulos__2 .abrir3,
.caja-contenedora-articulos__2 .abrir2,
.caja-contenedora-articulos__2 .abrir1 {
  padding: 8px 16px;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: #962328;
  color: #962328;
  width: 110px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  background-color: white;
}
.caja-contenedora-articulos__2 .abrir4:hover {
  background-color: rgb(150, 25, 40);
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease all;
}
.caja-contenedora-articulos__2 .abrir1:hover {
  background-color: rgb(150, 25, 40);
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease all;
}
.caja-contenedora-articulos__2 .abrir2:hover {
  background-color: rgb(150, 25, 40);
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease all;
}
.caja-contenedora-articulos__2 .abrir3:hover {
  background-color: rgb(150, 25, 40);
  color: #fff;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease all;
}
.caja-contenedora-articulos__2 .abrir3 {
  position: relative;
  left: 20px;
  bottom: 20px;
  top: 0px;
  cursor: pointer;
  transition: 0.3s ease all;
}
.caja-contenedora-articulos__2 .abrir4 {
  position: relative;
  top: 50px;
  left: 30%;
  cursor: pointer;
  transition: 0.3s ease all;
}

.seccion-final {
  width: 100%;
}
.seccion-final .formulario {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #362d28;
  justify-content: center;
  align-items: center;
}
.seccion-final .formulario .contacto-footer {
  display: flex;
  width: 85%;
  height: 220px;
  justify-content: center;
  align-items: center;
}
.seccion-final .formulario .contacto-footer .padre1,
.seccion-final .formulario .contacto-footer .padre3 {
  width: 34%;
}
.seccion-final .formulario .contacto-footer .padre2 {
  width: 20%;
}
.seccion-final .formulario .contacto-footer h3 {
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 2px;
}
.seccion-final .formulario .contacto-footer .linea-footer1 {
  border: 1px solid #7f644f;
}
.seccion-final .formulario .contacto-footer .linea-footer2 {
  border: 1px solid #7f644f;
}
.seccion-final .formulario .formulario-2 {
  width: 85%;
  display: flex;
  justify-content: space-around;
}
.seccion-final .formulario .formulario-2 .formulario-caja-footer {
  width: 34%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.seccion-final .formulario .formulario-2 .formulario-caja-footer input {
  width: 90%;
  height: 30px;
  margin: 16px 4px;
  border: 3px solid rgb(150, 25, 40);
  border-radius: 10px;
  font-size: 16px;
  padding: 2px 16px;
}
.seccion-final .formulario .formulario-2 .formulario-caja-footer input:hover {
  background-color: rgba(150, 25, 40, 0.5);
  opacity: 1;
  color: #fff;
}
.seccion-final .formulario .formulario-2 .formulario-caja-footer textarea {
  height: 100px;
  width: 90%;
  border: 3px solid rgb(150, 25, 40);
  border-radius: 10px;
  margin: 16px 4px;
  font-size: 16px;
  padding: 12px 16px;
  resize: none;
}
.seccion-final .formulario .formulario-2 .formulario-caja-footer textarea:hover {
  background-color: rgba(150, 25, 40, 0.5);
  opacity: 1;
  color: #fff;
}
.seccion-final .formulario .formulario-2 .formulario-caja-footer .enviar-footer {
  width: 30%;
  height: 30px;
  border-radius: 10px;
  font-size: 14px;
  background-color: #362d28;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease all;
}
.seccion-final .formulario .formulario-2 .formulario-caja-footer .enviar-footer:hover {
  background-color: #7f644f;
  border: 1px solid #7f644f;
  opacity: 0.9;
  color: #fff;
}
.seccion-final .formulario .formulario-2 .formulario-info {
  width: 34%;
  position: relative;
  left: -3%;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: start;
}
.seccion-final .formulario .formulario-2 .formulario-info .hijo-formulario-info1 {
  width: 70%;
  display: flex;
  color: #fff;
  letter-spacing: 2px;
  align-items: center;
  font-weight: 300;
}
.seccion-final .formulario .formulario-2 .formulario-info .hijo-formulario-info1 img {
  padding: 3px 10px;
  width: 20px;
  height: 20px;
}
.seccion-final .formulario .formulario-2 .formulario-info .hijo-formulario-info2 {
  width: 70%;
  display: flex;
  color: #fff;
  font-weight: 300;
  align-items: center;
}
.seccion-final .formulario .formulario-2 .formulario-info .hijo-formulario-info2 .icono-correo {
  padding: 3px 10px;
  width: 20px;
  height: 15px;
}
.seccion-final .formulario .formulario-2 .formulario-info .hijo-formulario-info3 {
  display: flex;
  align-items: center;
  font-weight: 300;
  color: #fff;
}
.seccion-final .formulario .formulario-2 .formulario-info .hijo-formulario-info3 img {
  padding: 3px 10px;
  width: 20px;
  height: 20px;
}
.seccion-final .formulario .formulario-2 .hr-separador-footer hr {
  height: 200px;
  border: 1px solid #7f644f;
}
.seccion-final .formulario .footer-iconos {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seccion-final .formulario .footer-iconos ul {
  list-style-type: none;
  padding: 2px 4px;
}
.seccion-final .formulario .footer-iconos ul li {
  display: inline;
}
.seccion-final .formulario .footer-iconos ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.seccion-final .formulario .footer-iconos ul li a i {
  padding: 2px 12px;
  font-size: 23px;
}
.seccion-final .fondo-rojo {
  background-color: rgb(150, 25, 40);
  height: 110px;
}
.seccion-final .footer {
  background-color: #000;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seccion-final .footer p {
  color: #fff;
  font-size: 16px;
}
.seccion-final .footer img {
  width: 60px;
  height: 30px;
}

/*---------------*/
/*POPUP ESTILOS*/
/*---------------*/
.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.overlay .show {
  pointer-events: all;
  opacity: 1;
}
.overlay .popup {
  background: rgb(171, 171, 171);
  width: 70%;
  height: 70%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-family: "Barlow Semi Condensed", sans-serif;
}
.overlay .popup .popup-header {
  background: #000;
  height: 40px;
}
.overlay .popup .popup-header .cerrar-popup {
  font-size: 26px;
  line-height: 16px;
  display: block;
  text-align: right;
  color: #bbbbbb;
  transition: 0.3s ease all;
  margin: 8px 12px;
}
.overlay .popup .popup-header .cerrar-popup:hover {
  color: rgb(150, 25, 40);
}
.overlay .popup .popup-contenido {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.overlay .popup .popup-contenido img {
  width: 160px;
  height: 160px;
  margin-top: 10px;
  border-radius: 10px;
  /*opacity: 0;*/
}
.overlay .popup .popup-contenido h4 {
  font-size: 36px;
  font-weight: 700;
  margin: 10px 10px;
  /*opacity: 0;*/
}
.overlay .popup .popup-contenido p {
  font-size: 20px;
  font-weight: 600;
}
.overlay .popup .popup-footer {
  background: #000;
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.overlay .popup .popup-footer p {
  color: #fff;
}
.overlay .popup .popup-footer img {
  width: 45px;
  height: 12px;
  margin-top: 4px;
}

@media only screen and (min-width: 342px) and (max-width: 542px) {
  .header-coopesur .contenedor-iconos-inicio {
    justify-content: center;
  }
  .header-coopesur .contenedor-iconos-inicio ul {
    width: 100%;
    padding: 3px 5px;
  }
  .header-coopesur .contenedor-iconos-inicio ul li {
    padding: 0px;
  }
  .header-coopesur .coopesur-contenedor__1-menu {
    height: 65px;
  }
  .header-coopesur .coopesur-contenedor__1-menu .coopesur-menu {
    display: none;
  }
  .header-coopesur .coopesur-contenedor__1-menu .coopesur-menu-responsivo {
    display: flex;
    justify-content: right;
  }
  .header-coopesur .coopesur-contenedor__1-menu .coopesur-menu-responsivo .myNav {
    width: 100%;
    display: flex;
  }
  .header-coopesur .coopesur-contenedor__1-menu .coopesur-menu-responsivo .myNav #back_menu {
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: none;
  }
  .header-coopesur .coopesur-contenedor__1-menu .coopesur-menu-responsivo .myNav .hamburguesa-content {
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-color: rgb(245, 204, 152);
    flex-direction: column;
    width: 45%;
    height: 100vh;
    z-index: 10;
    padding: 40px;
    display: none;
    transition: all 300ms;
  }
  .header-coopesur .coopesur-contenedor__1-menu .coopesur-menu-responsivo .myNav .hamburguesa-content a:first-child {
    width: -moz-max-content;
    width: max-content;
    background-color: rgba(150, 25, 40, 0.7);
    border: 2px solid red;
    border-radius: 16px;
    padding: 3px 2px;
  }
  .header-coopesur .coopesur-contenedor__1-menu .coopesur-menu-responsivo .myNav .hamburguesa-content a {
    font-size: 25px;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    padding: 20px 2px;
  }
  .inicio-coopesur2 {
    height: 250px;
  }
  .inicio-coopesur2 .caja-img-inicio {
    width: 81%;
  }
  .inicio-coopesur2 .caja-img-inicio img {
    height: 200px;
  }
  .caja-contenedora-articulos__1 {
    height: 3900px;
    background-color: #fff;
  }
  .caja-contenedora-articulos__1 .articulo-principal {
    flex-direction: column;
    height: 3850px;
    background: #fff;
    justify-content: flex-start;
  }
  .caja-contenedora-articulos__1 .articulo-principal .articulo-principal-pt1 {
    width: 96%;
    height: 2830px;
    background: #fff;
  }
  .caja-contenedora-articulos__1 .articulo-principal .articulo-principal-pt1 .raya-articulo-pt1 {
    bottom: -3%;
  }
  .caja-contenedora-articulos__1 .articulo-principal .articulo-principal-pt1 .caja-articulo-pt1 {
    height: 1450px;
    background-color: #fff;
    bottom: 1%;
  }
  .caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal {
    margin: 0px;
    width: 96%;
    height: 1000px;
    position: relative;
    left: 1%;
    top: 1%;
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgb(0, 0, 8);
  }
  .seccion-media {
    justify-content: center;
    height: 150px;
  }
  .seccion-media .media-2 h2 {
    font-size: 20px;
  }
  .caja-contenedora-articulos__2 {
    height: 1700px;
  }
  .caja-contenedora-articulos__2 .articulo-secundario-1 {
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .caja-contenedora-articulos__2 .articulo-secundario-2 {
    width: 80% !important;
    display: flex;
    flex-direction: column;
  }
  .caja-contenedora-articulos__2 .articulo-secundario-3 {
    width: 80% !important;
    height: 350px;
    display: flex;
    flex-direction: column;
  }
  .caja-contenedora-articulos__2 .abrir4 {
    left: 35%;
  }
  .seccion-final .formulario .contacto-footer {
    height: 100px;
  }
  .seccion-final .formulario .contacto-footer .padre1 {
    width: 0;
  }
  .seccion-final .formulario .contacto-footer .padre2 {
    width: 40%;
  }
  .seccion-final .formulario .contacto-footer .padre2 h3 {
    position: relative;
    right: 28%;
  }
  .seccion-final .formulario .contacto-footer .padre3 {
    width: 0;
  }
  .seccion-final .formulario .formulario-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .seccion-final .formulario .formulario-2 .hr-separador-footer {
    display: none;
  }
  .seccion-final .formulario .formulario-2 .formulario-caja-footer {
    width: 80%;
  }
  .seccion-final .formulario .formulario-2 .formulario-info {
    width: 90%;
    height: 250px;
  }
  .seccion-final .formulario .formulario-2 .formulario-info .hijo-formulario-info1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .seccion-final .formulario .formulario-2 .formulario-info .hijo-formulario-info1 p {
    font-size: 14px;
    text-align: center;
  }
  .seccion-final .formulario .formulario-2 .formulario-info .hijo-formulario-info2 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .seccion-final .formulario .formulario-2 .formulario-info .hijo-formulario-info2 p {
    font-size: 14px;
    margin-left: 8px;
  }
  .seccion-final .formulario .formulario-2 .formulario-info .hijo-formulario-info3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .seccion-final .formulario .formulario-2 .formulario-info .hijo-formulario-info3 p {
    font-size: 14px;
    text-align: center;
  }
  .seccion-final .fondo-rojo {
    height: 50px;
  }
  /*estilos menu hamburguesa*/
  .bars__menu {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 8%;
    left: 90%;
    background: rgba(223, 120, 217, 0.1);
    border-radius: 90px;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  .bars__menu span {
    display: block;
    width: 100%;
    height: 4px;
    background: #ede9ee;
    margin-top: 6px;
    transform-origin: 0px 100%;
    animation-fill-mode: inherit;
    animation-direction: alternate-reverse;
    transition: all 300ms;
  }
  .bars__menu span:hover {
    background-color: rgb(150, 25, 40);
  }
  .activeline1__bars-menu {
    transform: rotate(45deg) translate(-2px, 1px);
  }
  .activeline2__bars-menu {
    opacity: 0;
    margin-left: -30px;
  }
  .activeline3__bars-menu {
    transform: rotate(-45deg) translate(-4px, 2px);
  }
}
@media only screen and (min-width: 542px) and (max-width: 767px) {
  .header-coopesur .contenedor-iconos-inicio {
    justify-content: center;
  }
  .header-coopesur .coopesur-contenedor__1-menu {
    height: 125px;
  }
  .header-coopesur .coopesur-contenedor__1-menu .coopesur-menu {
    display: none;
  }
  .header-coopesur .coopesur-contenedor__1-menu .coopesur-menu-responsivo {
    display: flex;
    justify-content: right;
  }
  .header-coopesur .coopesur-contenedor__1-menu .coopesur-menu-responsivo .myNav {
    width: 100%;
    display: flex;
  }
  .header-coopesur .coopesur-contenedor__1-menu .coopesur-menu-responsivo .myNav #back_menu {
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: none;
  }
  .header-coopesur .coopesur-contenedor__1-menu .coopesur-menu-responsivo .myNav .hamburguesa-content {
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-color: rgb(245, 204, 152);
    flex-direction: column;
    width: 45%;
    height: 100vh;
    z-index: 10;
    padding: 40px;
    display: none;
    transition: all 300ms;
  }
  .header-coopesur .coopesur-contenedor__1-menu .coopesur-menu-responsivo .myNav .hamburguesa-content a:first-child {
    width: -moz-max-content;
    width: max-content;
    background-color: rgba(150, 25, 40, 0.7);
    border: 2px solid red;
    border-radius: 16px;
    padding: 3px 2px;
  }
  .header-coopesur .coopesur-contenedor__1-menu .coopesur-menu-responsivo .myNav .hamburguesa-content a {
    font-size: 25px;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    padding: 20px 2px;
  }
  .inicio-coopesur2 {
    height: 250px;
  }
  .inicio-coopesur2 .caja-img-inicio {
    width: 81%;
  }
  .inicio-coopesur2 .caja-img-inicio img {
    height: 250px;
  }
  .caja-contenedora-articulos__1 {
    height: 2920px;
    background-color: #fff;
  }
  .caja-contenedora-articulos__1 .articulo-principal {
    flex-direction: column;
    height: 3050px;
    background: #fff;
    justify-content: flex-start;
  }
  .caja-contenedora-articulos__1 .articulo-principal .articulo-principal-pt1 {
    width: 96%;
    height: 1850px;
    background: #fff;
  }
  .caja-contenedora-articulos__1 .articulo-principal .articulo-principal-pt1 .raya-articulo-pt1 {
    bottom: -6%;
  }
  .caja-contenedora-articulos__1 .articulo-principal .articulo-principal-pt1 .caja-articulo-pt1 {
    height: 1150px;
    background-color: #fff;
    bottom: -1%;
  }
  .caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal {
    margin: 0px;
    width: 96%;
    height: 1000px;
    position: relative;
    left: 1%;
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgb(0, 0, 8);
  }
  .seccion-media {
    justify-content: center;
  }
  .caja-contenedora-articulos__2 .articulo-secundario-1 {
    width: 80%;
    position: relative;
  }
  .caja-contenedora-articulos__2 .articulo-secundario-2 {
    width: 80% !important;
  }
  .caja-contenedora-articulos__2 .articulo-secundario-3 {
    width: 80% !important;
  }
  .caja-contenedora-articulos__2 .abrir4 {
    left: 40%;
  }
  .seccion-final .formulario .contacto-footer {
    height: 100px;
  }
  .seccion-final .formulario .contacto-footer .padre1 {
    width: 0;
  }
  .seccion-final .formulario .contacto-footer .padre2 {
    width: 40%;
  }
  .seccion-final .formulario .contacto-footer .padre3 {
    width: 0;
  }
  .seccion-final .formulario .formulario-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .seccion-final .formulario .formulario-2 .hr-separador-footer {
    display: none;
  }
  .seccion-final .formulario .formulario-2 .formulario-caja-footer {
    width: 80%;
  }
  .seccion-final .formulario .formulario-2 .formulario-info {
    width: 77%;
  }
  .seccion-final .formulario .formulario-2 .formulario-info .hijo-formulario-info1 {
    width: 80%;
  }
  /*estilos menu hamburguesa*/
  .bars__menu {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 8%;
    left: 90%;
    background: rgba(223, 120, 217, 0.1);
    border-radius: 90px;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  .bars__menu span {
    display: block;
    width: 100%;
    height: 4px;
    background: #ede9ee;
    margin-top: 6px;
    transform-origin: 0px 100%;
    animation-fill-mode: inherit;
    animation-direction: alternate-reverse;
    transition: all 300ms;
  }
  .bars__menu span:hover {
    background-color: rgb(150, 25, 40);
  }
  .activeline1__bars-menu {
    transform: rotate(45deg) translate(-2px, 1px);
  }
  .activeline2__bars-menu {
    opacity: 0;
    margin-left: -30px;
  }
  .activeline3__bars-menu {
    transform: rotate(-45deg) translate(-4px, 2px);
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-coopesur .contenedor-iconos-inicio {
    justify-content: center;
  }
  .header-coopesur .coopesur-contenedor__1-menu {
    height: 180px;
  }
  .header-coopesur .coopesur-contenedor__1-menu .coopesur-menu {
    display: none;
  }
  .header-coopesur .coopesur-contenedor__1-menu .coopesur-menu-responsivo {
    display: flex;
    justify-content: right;
  }
  .header-coopesur .coopesur-contenedor__1-menu .coopesur-menu-responsivo .myNav {
    width: 100%;
    display: flex;
  }
  .header-coopesur .coopesur-contenedor__1-menu .coopesur-menu-responsivo .myNav #back_menu {
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0%;
    z-index: 10;
    display: none;
  }
  .header-coopesur .coopesur-contenedor__1-menu .coopesur-menu-responsivo .myNav .hamburguesa-content {
    position: relative;
    top: 0%;
    left: 0%;
    display: none;
    background-color: rgb(245, 204, 152);
    flex-direction: column;
    width: 45%;
    height: 100vh;
    z-index: 200 !important;
    padding: 40px;
    transition: all 300ms;
  }
  .header-coopesur .coopesur-contenedor__1-menu .coopesur-menu-responsivo .myNav .hamburguesa-content a:first-child {
    width: -moz-max-content;
    width: max-content;
    background-color: rgba(150, 25, 40, 0.7);
    border: 2px solid red;
    border-radius: 16px;
    padding: 3px 2px;
  }
  .header-coopesur .coopesur-contenedor__1-menu .coopesur-menu-responsivo .myNav .hamburguesa-content a {
    font-size: 25px;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    padding: 20px 2px;
  }
  .inicio-coopesur2 .caja-img-inicio {
    width: 81%;
  }
  .caja-contenedora-articulos__1 {
    height: 2550px;
    background-color: #fff;
  }
  .caja-contenedora-articulos__1 .articulo-principal {
    flex-direction: column;
    height: 2450px;
    background: #fff;
    justify-content: flex-start;
  }
  .caja-contenedora-articulos__1 .articulo-principal .articulo-principal-pt1 {
    width: 96%;
    height: 1400px;
    background: #fff;
  }
  .caja-contenedora-articulos__1 .articulo-principal .articulo-principal-pt1 .caja-articulo-pt1 {
    height: 1150px;
    background-color: #fff;
  }
  .caja-contenedora-articulos__1 .articulo-principal .aside-articulo-principal {
    margin: 0px;
    width: 96%;
    height: 1000px;
    position: relative;
    left: 1%;
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgb(0, 0, 8);
  }
  .seccion-media {
    justify-content: center;
  }
  .caja-contenedora-articulos__2 {
    justify-content: center;
    align-items: center;
  }
  .caja-contenedora-articulos__2 .articulo-secundario-1 {
    width: 80%;
    position: relative;
    left: -1%;
  }
  .caja-contenedora-articulos__2 .articulo-secundario-2 {
    width: 80% !important;
    left: -1% !important;
  }
  .caja-contenedora-articulos__2 .articulo-secundario-3 {
    width: 80% !important;
    left: -1% !important;
  }
  .caja-contenedora-articulos__2 .abrir4 {
    left: 0;
  }
  .seccion-final .formulario .contacto-footer {
    height: 100px;
  }
  .seccion-final .formulario .formulario-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .seccion-final .formulario .formulario-2 .hr-separador-footer {
    display: none;
  }
  .seccion-final .formulario .formulario-2 .formulario-caja-footer {
    width: 80%;
  }
  .seccion-final .formulario .formulario-2 .formulario-info {
    width: 80%;
    display: flex;
  }
  /*estilos menu hamburguesa*/
  .bars__menu {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 8%;
    left: 90%;
    background: rgba(223, 120, 217, 0.1);
    border-radius: 90px;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  .bars__menu span {
    display: block;
    width: 100%;
    height: 4px;
    background: #ede9ee;
    margin-top: 6px;
    transform-origin: 0px 100%;
    animation-fill-mode: inherit;
    animation-direction: alternate-reverse;
    transition: all 300ms;
  }
  .bars__menu span:hover {
    background-color: rgb(150, 25, 40);
  }
  .activeline1__bars-menu {
    transform: rotate(45deg) translate(-2px, 1px);
  }
  .activeline2__bars-menu {
    opacity: 0;
    margin-left: -30px;
  }
  .activeline3__bars-menu {
    transform: rotate(-45deg) translate(-4px, 2px);
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1366px) {
  .header-coopesur .coopesur-contenedor__1-menu .coopesur-menu .caja-contenedor__menu {
    justify-content: space-between;
  }
  .header-coopesur .coopesur-contenedor__1-menu .coopesur-menu .caja-contenedor__menu .caja-menu-lista ul li a {
    font-size: 14px;
  }
  .inicio-coopesur1 .inicio-coopesur__caja1 a {
    font-size: 14px;
  }
  .seccion-media {
    justify-content: start;
  }
  .seccion-media .media-2 .media-p2 {
    font-size: 25px;
    letter-spacing: 7px;
  }
}
@media only screen and (min-width: 1367px) and (max-width: 1500px) {
  .header-coopesur .coopesur-contenedor__1-menu .coopesur-menu .caja-contenedor__menu {
    justify-content: space-evenly;
  }
  .header-coopesur .coopesur-contenedor__1-menu .coopesur-menu .caja-contenedor__menu .caja-menu-lista ul li a {
    font-size: 20px;
  }
  .inicio-coopesur1 .inicio-coopesur__caja1 a {
    font-size: 20px;
  }
  .seccion-media {
    justify-content: flex-start;
  }
  .seccion-media .media-2 .media-p2 {
    font-size: 35px;
    letter-spacing: 7px;
  }
  .caja-contenedora-articulos__2 {
    display: flex;
  }
}
.active {
  display: flex !important;
}/*# sourceMappingURL=styles.css.map */